* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 10px;
    padding: 20px;
}

.top_boxes {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    position: relative;
    overflow: auto;
    height: 200px;
}

.bottom_boxes {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    position: relative;
    overflow: auto;
    height: 800px;
}


#dateTimeBox {
    grid-column: 1 / span 1;
    width: 500px;
    box-sizing: content-box;
    overflow: auto;
}

#weatherBox {
    grid-column: 2 / span 1;
}

#contentBox {
    grid-column: 1 / span 1;
    width: 2000px;
    box-sizing: content-box;
    overflow: auto;
}

#queueBox {
    grid-column: 2 / span 1;
    width: 400px;
}

#cycledContent {
    border: none;
    padding: 20px;
}

#weatherData {
    border: none;
    padding: 20px;
}
